<h2 mat-dialog-title align="center">New Team</h2>
<mat-dialog-content align="center">
  <!-- <mat-card>
    <mat-card-content style="display: grid; width: 100%; justify-items: center;"> -->
      <!-- <form [formGroup]="form"> -->
        <mat-form-field>
          <input matInput placeholder="Team Name" required [(ngModel)]="team.teamName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Player 1 Name" required [(ngModel)]="team.player1">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Player 2 Name" required [(ngModel)]="team.player2" (keydown.enter)="save()">
        </mat-form-field>

      <!-- </form> -->
    <!-- </mat-card-content>
  </mat-card> -->
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-dialog-actions>