.mat-cell, .mat-header-cell {
    font-size: 14px;
    min-height: 48px;
    /* text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black; */
    display:flex;
   justify-content: center;
}

#mainTable {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}#fillerTable {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.set {
    background-color: red;
}