<h2 mat-dialog-title align="center">New Round</h2>
<mat-dialog-content align="center">
  <mat-form-field>
    <input matInput placeholder="Bidder" required [(ngModel)]="round.bidder">
  </mat-form-field>
  <app-point-selector [min]="1" [max]=10 [label]="'Bid Amount'" [points]="round.bidAmount"
    (points)="round.bidAmount=$event"></app-point-selector>

  <app-point-selector [min]="-10" [max]=10 [label]="'Team 1 Points'" [points]="round.team1effect"
    (points)="round.team1effect=$event"></app-point-selector>
  <app-point-selector [min]="-10" [max]=10 [label]="'Team 2 Points'" [points]="round.team2effect"
    (points)="round.team2effect=$event"></app-point-selector>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-dialog-actions>