<h2 mat-dialog-title align="center">New Round</h2>
<mat-dialog-content align="center">

  <app-bidder-selector [players]="getPlayers()" (bidder)="round.bidder=$event;" [initialSelected]="round.bidder"></app-bidder-selector>

  <app-point-selector [min]="5" [max]=10 [label]="'Bid Amount'" [points]="round.bidAmount"
    (points)="round.bidAmount=$event"></app-point-selector>

  <app-point-selector [min]="0" [max]=10 [label]="'Bidder Points'" [points]="bidderPoints"
    (points)="bidderPoints=$event"></app-point-selector>

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="delete()" color="warn" *ngIf="validRoundNum();">Delete</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button (click)="save()" color="primary" [disabled]="!round.bidder">Save</button>
</mat-dialog-actions>